body {
  margin: 0;
}

#app {
  canvas {
    position: fixed;
  }
}

button {
  position: relative;
  display: block;
  z-index: 5;
}

article {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  gap: 100vh;
  padding: 80vh 0 50vh;
}

article p {
  margin: 0;
}

.credits {
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
  font-family: sans-serif;
  color: #777;
}
article a {
  color: inherit;
  text-decoration: none;
  pointer-events: all;
}
article a:hover {
  text-decoration: underline;
  color: #aaa;
}

[data-projection] {
  background: white;
  width: 520px;
  padding: 20px;
}

.images {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    height: 100vh;
    width: auto;
    opacity: 0;
    transition: opacity 0.2s;
  }
}
