:root {
}

body {
  margin: 0;
}

#app {
  canvas {
    position: fixed;
  }
}

button {
  position: relative;
  display: block;
  z-index: 5;
}

article {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  gap: 100vh;
  padding: 80vh 0 50vh;
}

[data-projection] {
  background: white;
  width: 520px;
  padding: 20px;
}

.images {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    height: 100vh;
    width: auto;
    opacity: 0;
    transition: opacity 0.2s;
  }
}
